<script>
  $(document).ready(function() {
    $("#datepicker").datepicker({
      autoSize: true,
      onSelect: function(dateText, inst){
          // 选择日期的事件
          var selectDate = $( "#datepicker" ).datepicker( "getDate" );
          // 让日历转到选择的日期
          $('#calendar').fullCalendar('gotoDate', selectDate);
        }
    });

    $('#calendar').fullCalendar({
      header: false,
      defaultView: 'agendaDay',
      // minTime: 8,
      // maxTime: 19,
      // events: '/tasks/get_tasks',
      eventSources: [{
          url: '/tasks/get_tasks',
          color: 'red',
          textColor: 'black',
          ignoreTimezone: true,
          lazyFetching: false
        }],
      contentHeight: 550
    });

  });
</script>
<div class="maintasks">
  <div id="left">
    <div id="datepicker" style="float:left;">
    </div>
  </div>
  <div id="center">
    <div id='calendar' style="padding-left:20px; width:25%; float:left;">
    </div>
  </div>
  <div id="right">
    <div id="dataform" style="float:left; padding-left:20px;">
      <%= render 'form' %>
      <%= link_to 'Back', tasks_path %>
    </div>
  </div>
</div>

