<hr>
<ul>
  <li>
    <%= link_to '多语言对应demo', i18n_locales_index_path  %>
  </li>
  <li>
    <%= link_to 'Task Manager', tasks_path  %>
  </li>
  <li>
    <%= link_to 'Js Demos > fullcalendars', jsdemos_fullcalendars_index_path  %>
  </li>
  <li>
    <%= link_to 'Js Demos > fullcalendars_people_left_cal', jsdemos_fullcalendars_people_left_cal_path  %>
  </li>
</ul>
