/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.datepicker
 *= require_tree .
 */

#header {
  background-color: pink;
  height: 30px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

#header h3 {
  float: left;
}

#contents {
  width: 100%;
}

#footer {
  background-color: green;
  height: 30px;
}

#footer h3 {
  padding-top: 8px;
}

#header div.nav {
  float: right;
}
